@font-face {
  font-family: 'entypo-social';
  src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
       url('entypo-social.woff') format('woff'),
       url('entypo-social.ttf') format('truetype'),
       url('entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}

.entypo-social{
  font: normal normal normal 28px/1 entypo-social;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.entypo-twitter:before { content: '\f309'}
.entypo-twitter-mark:before { content: '\f30a'}
