/* Custom styles for Ian Brown's web page */

/* Makes any svg icons embedded in nav bar react like embedded font icons in Bootstrap */
.nav > li > a > svg {
  fill: #777;
}
.nav > li > a:hover path,
.nav > li > a:focus path {
  fill: #000000;
}
.navbar-brand {
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
}
.custom-navbar {
  margin-bottom: 0px;
}
.custom-section-header {
  font-family: 'Reenie Beanie', cursive;
  font-weight: bold;
  text-align: center;
}
.custom-jumbotron-header {
  font-family: 'Reenie Beanie', cursive;
  font-weight: normal;
  text-align: center;
}
.about {
  padding-bottom: 20px;
}
.test-section {
  display: block;
}
.custom-jumbotron {
  color: white;
  background: #324290;
  font-weight: bold;
  /*background: linear-gradient(135deg, #2952a3, #3366cc 25%, #5c86d6 75%); */
}
.footer {
  background: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 10px;
}
.email {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.project-title,
.project-title a {
  font-family: 'Roboto', sans-serif;
  color: #808080;
  font-size: 20px;
}
.projects {
  padding-bottom: 20px;
}
